@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Dashboard</h4>
                </div>
            </div>
        </div>
 
        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")

        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardLineChartComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardPieChartComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardBarChartComponentPartial")
        </div>

        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardReservationListComponentPartial")
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7131/statisticshub")
                .withAutomaticReconnect()
                .build();

            connection.start().catch(err => console.error(err));

            // Doğrudan değer güncelleyenler
            connection.on("ReceiveCarCount", (val) => { $("#carcount").text(val); });
            connection.on("ReceiveLocationCount", (val) => { $("#locationcount").text(val); });
            connection.on("ReceiveBrandCount", (val) => { $("#brandcount").text(val); });

            // Fiyat güncelleme (Notification mantığı)
            connection.on("ReceiveCarPricingUpdateNotification", () => {
                $.get("/Admin/AdminStatistics/GetUpdatedPricing?type=Saatlik", (data) => {
                    const result = JSON.parse(data);
                    $("#avgHourlyCount").text("₺ " + parseFloat(result.avaragePrice).toFixed(2));
                });
            });
        });
    </script>
}