@model UpdatePricingDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ödeme Türü Güncelleme</h4>
                        <p class="card-subtitle mb-4">Ödeme türü ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri düzenlemerinden sonra kaydet butonuna tıklayarak güncelleme işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="PricingID" />
                            <div class="form-group">
                                <label for="exampleInputName">Ödeme Türü</label>
                                <input type="text" class="form-control" id="exampleInputName" placeholder="Ödeme Türünü Giriniz" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

