
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

@*     @if (ViewContext.RouteData.Values["controller"].ToString() != "Login" &&
        ViewContext.RouteData.Values["controller"].ToString() != "Register")
    {
        @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")
    } *@

    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

</body>
</html>

