@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Güncelleme</h4>
                        <p class="card-subtitle mb-4">Araç özelliği ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri düzenlemerinden sonra kaydet butonuna tıklayarak güncelleme işlemi tamamlayabilirsiniz.</p>

                        <form method="post">

                            <input type="hidden" asp-for="FeatureID" />
                          
                            <div class="form-group">
                                <label for="exampleInputName">Özellik</label>
                                <input type="text" class="form-control" id="exampleInputName" placeholder="Özelliği Giriniz" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


